<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adinstar.pangyo.mapper.CampaignCandidateMapper">
    <resultMap id="CampaignCandidateMap" type="CampaignCandidate">
        <result property="id" column="id"/>
        <result property="executeRuleId" column="execute_rule_id"/>
        <result property="title" column="title"/>
        <result property="body" column="body"/>
        <result property="randingUrl" column="randing_url"/>
        <result property="bannerImg" column="banner_img"/>
        <result property="pollCount" column="poll_count"/>
        <result property="display" column="display"/>
        <result property="status" column="status"/>
        <association property="star" javaType="Star">
            <result property="id" column="s_id"/>
            <result property="name" column="s_name"/>
            <result property="naverOs" column="s_naver_os"/>
            <result property="profileImg" column="s_profile_img"/>
            <result property="mainImg" column="s_main_img"/>
            <result property="display" column="s_display"/>
            <result property="fanCount" column="s_fan_count"/>
            <result property="message" column="s_message"/>
            <association property="dateTime" javaType="PangyoLocalDataTime">
                <result property="reg" column="s_reg_dttm"/>
                <result property="up" column="s_up_dttm"/>
            </association>
        </association>
        <association property="user" javaType="User">
            <result property="id" column="u_id"/>
            <result property="service" column="u_service"/>
            <result property="serviceUserId" column="u_service_user_id"/>
            <result property="name" column="u_name"/>
            <result property="profileImg" column="u_profile_img"/>
            <result property="recommandCode" column="u_recommand_code"/>
            <result property="status" column="u_status"/>
            <association property="dateTime" javaType="PangyoLocalDataTime">
                <result property="reg" column="u_reg_dttm"/>
                <result property="up" column="u_up_dttm"/>
            </association>
        </association>
        <association property="dateTime" javaType="PangyoLocalDataTime">
            <result property="reg" column="reg_dttm"/>
            <result property="up" column="up_dttm"/>
        </association>
    </resultMap>

    <sql id="campaignCandidateColumn">
        cc.id, cc.execute_rule_id, cc.title, cc.body, cc.randing_url, cc.banner_img, cc.poll_count, cc.display, cc.status, cc.reg_dttm, cc.up_dttm,
        s.id AS s_id, s.name AS s_name, s.naver_os AS s_naver_os, s.profile_img AS s_profile_img, s.main_img AS s_main_img, s.display AS s_display, s.fan_count AS s_fan_count, s.message AS s_message, s.reg_dttm AS s_reg_dttm, s.up_dttm AS s_up_dttm,
        u.id AS u_id, u.service AS u_service, u.service_user_id AS u_service_user_id, u.name AS u_name, u.profile_img AS u_profile_img, u.recommand_code AS u_recommand_code, u.status AS u_status, u.reg_dttm AS u_reg_dttm, u.up_dttm AS u_up_dttm
    </sql>

    <sql id="campaignCandidateTable">
        CAMPAIGN_CANDIDATE cc
        JOIN STAR s ON (cc.star_id = s.id)
        JOIN USER u ON (cc.user_id = u.id)
    </sql>

    <select id="selectListByStarIdAndExecuteRuleId" resultMap="CampaignCandidateMap">
        SELECT
          <include refid="campaignCandidateColumn"/>
        FROM
          <include refid="campaignCandidateTable"/>
        WHERE cc.star_id = #{starId}
          AND cc.execute_rule_id = #{executeRuleId}
          AND cc.status ='SERVICE'
          AND cc.display = true
          AND u.status = 'MEMBER'
        ORDER BY cc.poll_count DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="selectByStarIdAndId" resultMap="CampaignCandidateMap">
        SELECT
          <include refid="campaignCandidateColumn"/>
        FROM
          <include refid="campaignCandidateTable"/>
        WHERE cc.id = #{id}
          AND cc.star_id = #{starId}
          AND cc.status ='SERVICE'
          AND cc.display = true
          AND u.status = 'MEMBER'
    </select>

    <insert id="insert" parameterType="CampaignCandidate" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO CAMPAIGN_CANDIDATE (execute_rule_id, star_id, user_id, title, body, randing_url, banner_img, poll_count, display, status, reg_dttm, up_dttm)
        VALUES (#{executeRuleId}, #{star.id}, #{user.id}, #{title}, #{body}, #{randingUrl}, #{bannerImg}, 0, true, 'SERVICE', NOW(), NOW());
    </insert>

    <update id="update" parameterType="CampaignCandidate">
        UPDATE CAMPAIGN_CANDIDATE
           SET
            <if test="title != null">
                title = #{title},
            </if>
            <if test="body != null">
                body = #{body},
            </if>
            <if test="randingUrl != null">
                randing_url = #{randingUrl},
            </if>
            <if test="bannerImg != null">
                banner_img = #{bannerImg},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            up_dttm = NOW()
        WHERE id = #{id} AND star_id = #{star.id}
    </update>

    <update id="updatePollCount">
        UPDATE CAMPAIGN_CANDIDATE
           SET poll_count = poll_count + #{delta},
               up_dttm = NOW()
        WHERE id = #{id} AND star_id = #{starId}
    </update>
</mapper>