<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adinstar.pangyo.mapper.ExecutionRuleMapper">
    <select id="selectRunningTurnNum" resultType="Long">
        SELECT
          turn_num
        FROM EXECUTION_RULE
        WHERE `type` = 'CANDIDATE'
          AND start_dttm <![CDATA[ <= ]]> NOW() AND end_dttm <![CDATA[ >= ]]> NOW()
    </select>

    <select id="selectExecutionRuleListByTurnNum" resultType="ExecutionRule">
        SELECT
          id, turn_num, `type`, start_dttm, end_dttm, status, reg_dttm, up_dttm
        FROM EXECUTION_RULE
        WHERE turn_num = #{turnNum}
    </select>

    <select id="selectExecutionRuleListByStatus" resultType="ExecutionRule">
        SELECT
        id, turn_num, `type`, start_dttm, end_dttm, status, reg_dttm, up_dttm
        FROM EXECUTION_RULE
        WHERE status = #{status}
    </select>

    <insert id="insertExecutionRule" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO EXECUTION_RULE (turn_num, `type`, `start_dttm`, `end_dttm`, `status`, `reg_dttm`,`up_dttm`)
        VALUES (#{turnNum}, #{type}, #{startDttm}, #{end_dttm}, 'REDAY', NOW(), NOW())
    </insert>

    <update id="updateExecutionRuleStatusById">
        UPDATE EXECUTION_RULE
           SET status = #{status}
         WHERE id = #{id}
    </update>

    <select id="selectExecutionRuleByTurnAndType" resultType="ExecutionRule">
        SELECT
          id, turn_num, `type`, start_dttm, end_dttm, status, reg_dttm, up_dttm
        FROM EXECUTION_RULE
        WHERE turn_num = #{turnNum} AND `type` = #{type}
    </select>
</mapper>