<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adinstar.pangyo.mapper.ImageMapper">
    <resultMap id="ImageMap" type="Image">
        <result property="id" column="id"/>
        <result property="contentType" column="content_type"/>
        <result property="contentId" column="content_id"/>
        <result property="data" column="data"/>
    </resultMap>

    <select id="selectById" parameterType="String" resultMap="ImageMap">
        SELECT
          *
        FROM
          IMAGE
        WHERE
          id = #{id}
    </select>

    <insert id="insert" parameterType="Image">
        INSERT INTO IMAGE (id, content_type, content_length, data)
        VALUE (#{id}, #{contentType}, #{contentLength}, #{data});
    </insert>
</mapper>