<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adinstar.pangyo.mapper.StarMapper">
    <resultMap id="StarMap" type="Star">
        <result property="id" column="s_id"/>
        <result property="name" column="s_name"/>
        <result property="naverOs" column="s_naver_os"/>
        <result property="profileImg" column="s_profile_img"/>
        <result property="mainImg" column="s_main_img"/>
        <result property="display" column="s_display"/>
        <result property="fanCount" column="s_fan_count"/>
        <result property="message" column="s_message"/>
        <association property="dateTime" javaType="PangyoLocalDataTime">
            <result property="reg" column="s_reg_dttm"/>
            <result property="up" column="s_up_dttm"/>
        </association>
    </resultMap>

    <sql id="starColumn">
         s.id AS s_id,
         s.name AS s_name,
         s.naver_os AS s_naver_os,
         s.profile_img AS s_profile_img,
         s.main_img AS s_main_img,
         s.display AS s_display,
         s.fan_count AS s_fan_count,
         s.message AS s_message,
         s.reg_dttm AS s_reg_dttm,
         s.up_dttm AS s_up_dttm
    </sql>

    <sql id="starTable">
        STAR s
    </sql>

    <select id="selectById" parameterType="long" resultMap="StarMap">
        SELECT
          <include refid="starColumn"/>
        FROM
          <include refid="starTable"/>
        WHERE
          s.id = #{id}
    </select>
</mapper>